*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-family: "roboto", serif;
}

.Header{
    background-color: #1F2937;
    color: white;
}

.Header a{
    text-decoration: none;
    color: white;
}

.NavItem1 h1{
    font-size: 25px;
}

.Nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 25px;
}

.NavItem2 {
    display: flex;
    font-size: 1em;
    gap: 25px;
}

.HeaderSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px;
    gap: 50px;
}

.HeaderSection2{
    background-color: grey;
    padding: 100px;
}

.HeaderSection1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 33%;
    gap: 10px;
}

.HeaderSection1 h2{
    font-size: 48px;
    font-weight: 900;
}

.HeaderSection1 button{
    background-color: #3882F6;
    font-weight: bold;
    color: white;
    border: none;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.Section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    align-items: center;
    background-color: white;
}

.Section1 h2{
    color: black;
    font-size: 38px;
}

.Section1items{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    gap: 50px;
   
}

.Section1ItemGroup{
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 150px;
    text-align: center;
}


.square{
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.Section2{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.Section2Quote{
    font-size: 35px;
    font-weight: 350;
    font-style: italic;
    width: 45%;
}

.Section2Sign{
    margin-left: 30%;
    font-size: 25px;
    font-weight: bold;
}

.Section3{
    background-color: white;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.CalltoAction{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    color: white;
    width: 75%;
    padding: 50px;
    border-radius: 10px;
}

.CalltoActionCopy{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.CalltoActionCopy p{
    font-weight: 200;
    font-size: 22px;
}


.CalltoActionButton{
    padding-left: 200px;
}

.CalltoActionButton button{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    background-color: #3882F6;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

Footer{
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    color: white;
    height: 100px;
}




